@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
* {
   font-family: 'Roboto', sans-serif;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
:root {
   font-size: 16px;

   --color-primary: 240 15% 61%;
   --color-secondary: 344 87% 69%;
   --color-white: 60 2% 87%;
}
body {
   min-height: 100vh;
}
/* HEADER */
header {
   background-color: hsl(var(--color-primary));
   display: flex;
   align-items: center;
}
nav {
   display: flex;
   align-items: center;
   margin-left: 2rem;
}
header div img {
   width: 100px;
}
header h3 {
}
header ul {
   display: flex;
}
header ul li {
   padding: 1rem;
   margin-right: 1rem;
   list-style: none;
}
li a {
   text-decoration: none;
   padding-bottom: 1rem;
}
li a:hover {
   border-bottom: 4px solid hsl(var(--color-secondary) / 0.75);
}
header > * {
   color: hsl(var(--color-white));
}
main {
   margin: 2rem;
   padding: 5rem;
   background-color: hsl(var(--color-white));
}
main > * {
   color: hsl(var(--color-primary));
}
footer {
   display: flex;
   width: 100%;
   position: absolute;
   bottom: 0;
   align-items: center;
   background-color: hsl(var(--color-secondary));
}
footer > * {
   color: hsl(var(--color-white));
}
footer div img {
   width: 50px;
}
footer address, footer a {
   margin-left: 2rem;
}




